{% extends '@tina4cms' ~ '/base.twig' %}
{% block headers %}
{% endblock %}


{% block content %}
    <div id="content">
        {% if not session.user %}
            {% do redirect('/cms/login') %}
        {% endif %}
        {% set userRoles = Content.getSecurityAttribute('', session.user.roleId) %}
        <div class="col-md-12">
            <h3>Catalog</h3>
            <ul class="nav nav-tabs" role="tablist">
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/rest/V1/catalog/category', 'sub-content')">Categories</a>
                    </li>
                {%endif%}
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/rest/V1/catalog/products', 'sub-content')">Products</a>
                    </li>
                {%endif%}
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/rest/V1/catalog/product-attributes', 'sub-content')">Product Attributes</a>
                    </li>
                {%endif%}
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/rest/V1/catalog/product-attribute-values', 'sub-content')">Product Attributes Values</a>
                    </li>
                {%endif%}
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/rest/V1/catalog/product-variants', 'sub-content')">Product Variants</a>
                    </li>
                {%endif%}
                {% if (not userRoles.Content.Pages or userRoles.Content.Pages.visible) %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#"
                           onclick="loadPage('/rest/V1/catalog/product-skus', 'sub-content')">Product skus</a>
                    </li>
                {%endif%}
            </ul>
            <div id="sub-content">
            </div>
            <script>
                loadPage('/rest/V1/catalog/category', 'sub-content');
            </script>
        </div>
    </div>
{% endblock %}